<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Add New Hotel
  </h1>
  <div>
    <span id="name">Name</span>
    <input for="name" type="text" class="input-name" placeholder="Name" [(ngModel)]="hotel.name">

    <span id="number">Number</span>
    <input for="number" type="number" placeholder="Number" [(ngModel)]="hotel.number">

    <span id="info">Bed Info.</span>
    <input for="info" type="text" class="input-info" placeholder="Bed Info." [(ngModel)]="hotel.bedInfo">

    <button type="submit" (click)="onAdd()">Submit</button>
  </div>
  <br/>
  <table>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Number</th>
      <th>Bed Info.</th>
      <th></th>
    </tr>
    <tr *ngFor="let hotel of hotels; let i=index">
      <td>{{i+1}}</td>
      <td>{{hotel?.name}}</td>
      <td>{{hotel?.number}}</td>
      <td>{{hotel.bedInfo}}</td>
      <td class="remove">
        <button (click)="onRemove(i)">remove</button>
      </td>
    </tr>
  </table>
</div>