<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Add New Hotel
  </h1>
  <div>
    <span id="name">Name</span>
    <input for="name" type="text" class="input-name" placeholder="Name">

    <span id="number">Number</span>
    <input for="number" type="number" placeholder="Number">

    <span id="info">Bed Info.</span>
    <input for="info" type="text" class="input-info" placeholder="Bed Info.">

    <button type="submit">Submit</button>
  </div>
  <br/>
  <table>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Number</th>
      <th>Bed Info.</th>
      <th></th>
    </tr>
    <tr>
      <td>1</td>
      <td>Hotel 1</td>
      <td>100</td>
      <td>Infomation for hotel 1</td>
      <td class="remove">
        <button>remove</button>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Hotel 2</td>
      <td>200</td>
      <td>Infomation for hotel 2</td>
      <td class="remove">
        <button>remove</button>
      </td>
    </tr>
  </table>
</div>